<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickethack - Bookings</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="h-[100vh] w-[100vw] bg-[url(./images/background.jpg)] bg-cover">
    <header
      class="bg-neutral-100 flex items-center justify-between w-full h-1/10"
    >
      <a href="../index.html">
        <h1 id="logo" class="text-green-900 font-extrabold text-3xl">
          Tickethack
        </h1>
      </a>
      <div>
        <a class="mx-5" href="./cart.html">Cart</a>
        <a class="mx-5" href="./bookings.html">Bookings</a>
      </div>
    </header>
  </body>
</html>
